<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>controller.CartController.Cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddtoCart</servlet-name>
        <servlet-class>Laptop.AddtoCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>controller.CartController.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserList</servlet-name>
        <servlet-class>controller.CartController.UserList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createUser</servlet-name>
        <servlet-class>controller.UserController.createUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getListUser</servlet-name>
        <servlet-class>controller.UserController.getListUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewerUser</servlet-name>
        <servlet-class>controller.UserController.ViewerUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserList</servlet-name>
        <url-pattern>/userlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createUser</servlet-name>
        <url-pattern>/createUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getListUser</servlet-name>
        <url-pattern>/getListUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewerUser</servlet-name>
        <url-pattern>/viewerUser</url-pattern>
    </servlet-mapping>
</web-app>