<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>CartSeverlet</servlet-name>
        <servlet-class>controller.CartController.CartSeverlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddtoCart</servlet-name>
        <servlet-class>Laptop.AddtoCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>controller.CartController.AddToCart</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>CartSeverlet</servlet-name>
        <url-pattern>/CartSeverlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>CreateAccountStaff</servlet-name>
        <servlet-class>controller.UserController.CreateAccountStaff</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CreateAccountStaff</servlet-name>
        <url-pattern>/createAccountStaff</url-pattern>
    </servlet-mapping>

</web-app>
